<div>
    <div ng-if="libraryModel">

        <h4 class="text-right"><a href="#{{libraryModel._id}}">{{libraryModel.name}} {{libraryModel.version}}</a></h4>

        <!-- within-library auto-complete search bar -->
        <div ng-controller="LibrarySearchController" >
            <form role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search this library..." ng-model="str" ng-change="autoCompleteKeypress()">
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
            <div class="auto-complete-results">
                <ul class="ontop container">
                    <li ng-repeat="item in autoCompleteData">
                        <a href="#{{item.id}}" ng-click="clearListing()">
                            <div class="padding-xlite" >
                                <span class="h4">{{ item.name }}
                                    <br/>
                                    <small>{{ item.qualifiedName }} - {{item._library.name}} {{item._library.version}}</small>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="auto-complete-close" ng-if="!isEmpty(autoCompleteData)">
                        <a href="" ng-click="clearListing()">
                            <div class="padding-xlite" >
                                <span class="h4"><small>Clear Results</small></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <h4 class="border-bottom-lite"><span class="border-tab-lite">Packages</span></h4>
        <ul class="padding-none">
            <li class="padding-none" ng-repeat="model in libraryModel.packages | orderBy: 'name'">
                <a href="#{{model._id}}">{{model.name}}</a>
            </li>
        </ul>
        <hr />
    </div>

    <div ng-if="packageModel">

        <h4 class="text-right"><a href="#{{packageModel._id}}">{{packageModel.name}}</a></h4>

        <div ng-if="!isEmpty(packageModel.interfaces)">
            <h4 class="border-bottom-lite"><span class="border-tab-lite">Interfaces</span></h4>
            <ul class="padding-none">
                <li class="padding-none" ng-repeat="model in packageModel.interfaces | orderBy: 'name'">
                    <a class="meta-type-{{model.metaType}}" href="#{{model._id}}">{{model.name}}</a>
                </li>
            </ul>
        </div>

        <div ng-if="!isEmpty(packageModel.ordinaryClasses)">
            <h4 class="border-bottom-lite"><span class="border-tab-lite">Classes</span></h4>
            <ul class="padding-none">
                <li class="padding-none" ng-repeat="model in packageModel.ordinaryClasses | orderBy: 'name'">
                    <a class="meta-type-{{model.metaType}}" href="#{{model._id}}">{{model.name}}</a>
                </li>
            </ul>
        </div>

        <div ng-if="!isEmpty(packageModel.enums)">
            <h4 class="border-bottom-lite"><span class="border-tab-lite">Enums</span></h4>
            <ul class="padding-none">
                <li class="padding-none" ng-repeat="model in packageModel.enums | orderBy: 'name'">
                    <a class="meta-type-{{model.metaType}}" href="#{{model._id}}">{{model.name}}</a>
                </li>
            </ul>
        </div>

        <div ng-if="!isEmpty(packageModel.exceptions)">
            <h4 class="border-bottom-lite"><span class="border-tab-lite">Exceptions</span></h4>
            <ul class="padding-none">
                <li class="padding-none" ng-repeat="model in packageModel.exceptions | orderBy: 'name'">
                    <a class="meta-type-{{model.metaType}}" href="#{{model._id}}">{{model.name}}</a>
                </li>
            </ul>
        </div>

        <div ng-if="!isEmpty(packageModel.errors)">
            <h4 class="border-bottom-lite"><span class="border-tab-lite">Errors</span></h4>
            <ul class="padding-none">
                <li class="padding-none" ng-repeat="model in packageModel.errors | orderBy: 'name'">
                    <a class="meta-type-{{model.metaType}}" href="#{{model._id}}">{{model.name}}</a>
                </li>
            </ul>
        </div>

        <div ng-if="!isEmpty(packageModel.annotationTypes)">
            <h4 class="border-bottom-lite"><span class="border-tab-lite">Annotation Types</span></h4>
            <ul class="padding-none">
                <li class="padding-none" ng-repeat="model in packageModel.annotationTypes | orderBy: 'name'">
                    <a class="meta-type-{{model.metaType}}" href="#{{model._id}}">@{{model.name}}</a>
                </li>
            </ul>
        </div>

    </div>

</div>
