<!-- auto-complete search bar -->
<div ng-controller="SearchController" >
    <form role="search">
        <!-- Note: scope.placeholder allows parent controllers (whose views include this 
                   SearchController) to override the default placeholder text -->
        <div class="ontop input-group search-bar-input">
            <input type="text" 
                   class="form-control" 
                   placeholder="{{placeholder || 'Search for class or package name...'}}" 
                   ng-model="str" 
                   ng-trim="false"
                   ng-change="onChange()" 
                   ui-keyup="{esc: 'onKeypress($event)'}" 
                   >
            <div class="input-group-btn">
                <!-- button tabindex="-1" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button -->
                <span class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </form>
    <div class="auto-complete-results">

        <div class="full-blackout" 
            ng-if="!Utils.isEmpty(autoCompleteData)"
            ng-click="clearListing()">
        </div>

        <ul class="ontop search-results-list" ng-if="!Utils.isEmpty(autoCompleteData)">
            <li ng-repeat="item in autoCompleteData">
                <!-- a href="#{{item.id}}" ng-click="clearListing()" -->
                <!-- a href="#/q/java/qn/{{ getReferenceName( item ) }} -->
                <a href="{{ getItemHref( item ) }}" 
                   ng-click="clearListing()" 
                   ui-keyup="{esc: 'onKeypress($event)'}" >
                    <div class="padding-xlite" >
                        <span class="h4">{{ item.name }}
                            <br/>
                            <!-- small>{{ item.qualifiedName }} - {{item._library.name}} {{item._library.version}}</small -->
                            <small>{{ item.qualifiedName }} - {{item._library.name}}</small>
                        </span>
                    </div>
                </a>
            </li>
            <li class="auto-complete-close" >
                <a href="" ng-click="clearListing()">
                    <div class="padding-xlite" >
                        <span class="h4"><small>Clear Results</small></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

